body { background: #D7F9DB !important; }

.my-shadow {
    box-shadow: 0 .5rem 1rem rgba(42,72,88,.15)!important;
}

.nav-font {
    font-family: 'PT Serif', serif;
    font-size: 1.2rem;
    /* color: #2F4858!important; */
}
.nav-pict{
    width: 33px;
    height: 33px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #2F4858!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #2F4858!important;
}

.nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: none;
}

.nav__link {
    position: relative;
    color: #fff;
}
  
  .nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 82%;
    height: 0.18rem;
    left: 0.5rem;
    top: 3.6rem;
    background-color: #008493;
}

.active::after {
    position: absolute;
    content: "";
    width: 82%;
    height: 0.18rem;
    left: 0.5rem;
    top: 3.6rem;
    background-color: #008493;
}

.jumbotron{
    background-color: white;
    padding-bottom: 5%;
    height: 33em;
    
}

.backgroundphoto{
    height: 20em;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    background-image: linear-gradient(to right, #7cc985 , #00A397);

}

.user{
    text-align: center;
    
}

.user .photoprofile{
    text-align: center;
    width: 10em;
    height: 10em;
    margin-top: -120px;
    position: relative;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 100% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user .nama{
    margin-top: 10px;
    font-size: 2em !important;
    font-weight: bold !important;
}

.editprofile button{
    padding-right: 40px;
    padding-left: 40px;
    background-color: #00A397;
    border-color: #00A397;
    text-align: center;
    border-radius: 10px;
}

.editprofile button:hover{
    background-color: #028179;
    border-color: #028179;
}

.text-profile{
    font-weight: bold;
}
