<a href="/"><img src="/img/logo putih.png" class="img-fluid ctm-img-fluid mb-5 p-5 bd-highlight" alt="Responsive image" /></a>
<div class="p-5 bd-highlight align-items-center">
    <img src="/img/vector1.svg" class="img-fluid" alt="Responsive image" />
    <p class="ctm-font-head pt-3">Sistem Informasi Event Management ORMAWA dan Mahasiswa UPN Veteran Jakarta</p>
</div>
