<!-- carousel -->
<div class="container-2 reveal">
    <img src="/img/carousel-1.png" alt="Snow" class="bg-custom" />
    <div class="top-left">
        <h2 class="sub-font text-white"><%= landing.judul %></h2>
        <p class="col-5 p-font text-white"><%= landing.deskripsi_lp %></p>
    </div>
</div>
