<!-- carousel -->
<div class="container bg-custom mb-4 reveal">
  <div class="row">
    <div class="col bg-text text-white p-5 pe-5">
      <h2 class="sub-font text-white">Motivasi Hari Ini</h2>
      <p class="col-8 p-font">Calon orang sukses adalah orang yang mau menunda kesenangan. Asal yang berat udah bisa kita lewati, hal-hal yang menyenangkan pasti bakal mengikuti</p>
    </div>
    <div class="col-5"></div>
  </div>
</div>