<!-- carousel -->
<div class="container bg-custom mb-4 reveal">
  <div class="row">
    <div class="col bg-text text-white p-5 pe-5">
      <h2 class="sub-font text-white"><%= landing.judul %></h2>
      <p class="col-8 p-font"><%= landing.deskripsi_lp %></p>
    </div>
    <div class="col-5"></div>
  </div>
</div>