<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid bg-image bg-info pt-5 pb-5 mt-5">
    <div class="container mb-5 pb-2 mt-5">
        <h1 class="head-font text-white">Hi, <%= namadepan[0] %>!</h1>
        <!-- <h1 class="head-font text-white">Hi, Muhammad zydane</h1> -->
        <p class="p-font text-white">Selamat datang di Sistem Informasi Event Management ORMAWA dan Mahasiswa</p>
        <p class="p-font mb-4 text-white">UPN Veteran Jakarta. Ikuti event-event menarik yang dapat mengembangkan skillmu.</p>
        <a class="btn btn-success btn-custom" href="#" role="button">Pengenalan Aplikasi</a>
    </div>
</div>

<!-- search button -->
<div class="container">
    <div class="row box mt-custom text-center">
        <form action="">
            <input type="text" placeholder="Cari event yang ingin kamu ikuti..." />
            <select name="" id="list" class="">
                <option selected>Kategori</option>
                <option value="">Webinar</option>
                <option value="">Workshop</option>
                <option value="">Lomba</option>
                <option value="">Lainnya</option>
            </select>
            <input type="submit" value="Cari" />
        </form>
    </div>
</div>
