<div class="jumbotron jumbotron-fluid  d-flex justify-content-center" style="background-color: #D7F9DB;margin-top: 80px;margin-bottom: 10px;">
    <div class="container px-5 py-5">
        <div class="col mt-4 d-flex">
            <img src="img/picukm.png" alt="penyelenggara" width="160" height="160">
            <div class="col ms-4">
                <h1>LDK Uswah UPNVJ</h1>
                <p>LDK USWAH adalah organisasi agama Islam yang berada di UPN Veteran Jakarta, baik di tingkat universitas maupun tingkat fakultas. LDK USWAH merupakan rohis yang berada di tingkat universitas, dan bertanggung jawab sebagai koordinator kegiatan keagamaan Islam di lingkungan kampus UPN Veteran Jakarta. Sedangkan di tingkat fakultas, terdapat Rohis Al-Jihad (FEB), FKI Asy-Syifa (FK), FKI An-Nahl (FIKES-FT), FKI Al-Hakim (FH), dan FKI Ar-Risalah (FIK). Rohis tingkat fakultas bertanggung jawab sebagai koordinator kegiatan keagamaan Islam di fakultasnya masing-masing. Dalam berkegiatan, LDK Uswah dan rohis tingkat fakultas saling berkoordinasi untuk mengoptimalkan syiar Islam di lingkungan kampus UPN Veteran Jakarta.</p>
            </div>
        </div>
    </div>

</div>
<div class="container mb-5 pb-5">
    <div class="row">
      <div class="col mb-3">
        <p class="sub-font mb-1 mt-5">Semua Event</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md">
        <div class="card-custom my-shadow-2">
          <div class="card-body-custom">
            <p class="card-font h5 text-white mb-4">Lomba Tabligh Akbar Uswah 2021</p>
            <div class="row pt-2 d-flex align-items-lg-baseline">
              <div class="col">
                <p class="date text-white">29 Sept - 29 Okt</p>
              </div>
              <div class="col-5 text-center">
                <a type="button" class="btn-custom-2" id="detail">Lihat Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card-custom my-shadow-2">
          <div class="card-body-custom">
            <p class="card-font h5 text-white mb-4">Lomba Tabligh Akbar Uswah 2021</p>
            <div class="row pt-2 d-flex align-items-lg-baseline">
              <div class="col">
                <p class="date text-white">29 Sept - 29 Okt</p>
              </div>
              <div class="col-5 text-center">
                <a type="button" class="btn-custom-2" id="detail2">Lihat Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card-custom my-shadow-2">
          <div class="card-body-custom">
            <p class="card-font h5 text-white mb-4">Lomba Tabligh Akbar Uswah 2021</p>
            <div class="row pt-2 d-flex align-items-lg-baseline">
              <div class="col">
                <p class="date text-white">29 Sept - 29 Okt</p>
              </div>
              <div class="col-5 text-center">
                <a type="button" class="btn-custom-2" id="detail3">Lihat Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md">
        <div class="card-custom my-shadow-2">
          <div class="card-body-custom">
            <p class="card-font h5 text-white mb-4">Lomba Tabligh Akbar Uswah 2021</p>
            <div class="row pt-2 d-flex align-items-lg-baseline">
              <div class="col">
                <p class="date text-white">29 Sept - 29 Okt</p>
              </div>
              <div class="col-5 text-center">
                <a type="button" class="btn-custom-2" id="detail">Lihat Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card-custom my-shadow-2">
          <div class="card-body-custom">
            <p class="card-font h5 text-white mb-4">Lomba Tabligh Akbar Uswah 2021</p>
            <div class="row pt-2 d-flex align-items-lg-baseline">
              <div class="col">
                <p class="date text-white">29 Sept - 29 Okt</p>
              </div>
              <div class="col-5 text-center">
                <a type="button" class="btn-custom-2" id="detail2">Lihat Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card-custom my-shadow-2">
          <div class="card-body-custom">
            <p class="card-font h5 text-white mb-4">Lomba Tabligh Akbar Uswah 2021</p>
            <div class="row pt-2 d-flex align-items-lg-baseline">
              <div class="col">
                <p class="date text-white">29 Sept - 29 Okt</p>
              </div>
              <div class="col-5 text-center">
                <a type="button" class="btn-custom-2" id="detail3">Lihat Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>