    <div class="modal fade" id="editmodal" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="model-header">
            <div class="row">
              <div class="col text-center" style="padding: 1rem;">
                <h5 class="modal-title" id="exampleModalLongTitle"><b>EDIT PROFILE</b></h5>
              </div>
            </div>
          </div>
          <div class="modal-body" style="padding-top: 0rem;">
            <div class="row">
              <div class="col d-flex justify-content-center">
                <img src="img/profil 1.png" alt="photo profil" />
              </div>
              <div class="form-group d-flex justify-content-center" >
                <label for="file-upload" class="custom-file-upload">
                  Upload
                </label>
                <input id="file-upload" type="file" accept="image/*"/>
              </div>
            </div>
            <div class="container">
              <div class="form-group">
                <label for="nama"><b>Nama: </b></label>
                <input type="text" class="form-control" name="nama" placeholder="Nama Lengkap" value="Mohamad Zydane Ulir Rizqi Toyyibi">
            </div>
            <div class="form-group">
                <label for="nim"><b>NIM: </b></label>
                <input type="text" class="form-control" name="nim" placeholder="NIM" value="1910511120">
            </div>
            <div class="form-group">
              <label for="fakultas"><b>Fakultas: </b></label>
              <select name="fakultas" class="form-control" id="fakultas">
                  <option>Ilmu Komputer</option>
                  <option>Ekonomi dan Bisnis</option>
                  <option>Kedokteran</option>
                  <option>Teknik</option>
                  <option>Ilmu Sosial dan Politik</option>
                  <option>Hukum</option>
                  <option>Teknik</option>
                  <option>Ilmu Kesehatan</option>
              </select>
          </div>
          <div class="form-group">
            <label for="prodi"><b>Program Studi: </b></label>
            <select name="prodi" class="form-control" id="prodi">
                <option></option>
            </select>
        </div>
          <div class="form-group">
            <label for="jenis_kelamin"><b>Jenis Kelamin: </b></label>
            <label><input type="radio" name="jenis_kelamin" value="laki-laki">  Laki - laki</label>
            <label><input type="radio" name="jenis_kelamin" value="perempuan">  Perempuan</label>
        </div>
            <div class="form-group">
                <label for="tgl_lahir"><b>Tanggal Lahir: </b></label>
                <input type="date" class="form-control" name="tgl_lahir" placeholder="Tanggal Lahir">
            </div>
            
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid shadow">
      <div class="container backgroundphoto"></div>
      <div class="container user">
        <img src="img/profil 1.png" class="rounded nav-pict photoprofile" alt="photo profil" />
        <h1 class="display-4 nama">Mohamad Zydane Ulir Rizqi Toyyibi</h1>
        <p class="lead deskripsi">mohamadzydane@upnvj.ac.id</p>
      </div>
      
      <nav class="navbar navbar-expand-lg navbar-light bg-white nav-font pt-3 pb-3 navprofile">
        <div class="container container-tombolprofile">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-pengaturan">
            <li class="nav-item pe-3">
              <a class="nav-link active fw-bold nav__link" aria-current="page" href="#" id="prof">Profile Pribadi</a>
            </li>
            <li class="nav-item pe-3">
              <a class="nav-link" href="#" id="aturakun">Pengaturan Akun</a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item d-flex align-items-center btnEditprofile">
              <div class="button editprofile">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editmodal">
                  <span class="glyphicon glyphicon-off" aria-hidden="true"><img src="./icons/pencil (2) 1.svg" alt="" /></span>
                  <span class="text-profile text-white" id="edit">Edit Profile</span>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div id="dprofile" class="container padding-profile rounded" style="background-color: white; padding: 30px; margin-top: 50px; margin-bottom: 40px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
      <h5>Nama:</h5>
      <p>Mohamad Zydane Ulir Rizqi Toyyibi</p>
      <h5>NIM:</h5>
      <p>1910511120</p>
      <h5>No. HP:</h5>
      <p>081228119616</p>
      <h5>Fakultas:</h5>
      <p>Ilmu Komputer</p>
      <h5>Prodi:</h5>
      <p>Informatika</p>
      <h5>Angkatan:</h5>
      <p>2019</p>
      <h5>Jenis-Kelamin:</h5>
      <p>Laki-Laki</p>
      <h5>Tanggal Lahir:</h5>
      <p>29 Februari 2000</p>
    </div>
    <div id="dpengaturan" class="container padding-profile rounded" style="background-color: white; display: none; padding: 30px; margin-top: 50px; margin-bottom: 40px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
      <div class="form-group">
        <label for="email"><b>Email: </b></label>
        <input type="text" class="form-control" name="email" placeholder="Nama Lengkap" value="mohamadzydane@upnvj.ac.id">
      </div>
      <div class="form-group">
        <label for="hp"><b>No. HP: </b></label>
        <input type="number" class="form-control" name="hp" placeholder="Nomor HP" value="081228119616">
      </div>
      <div class="form-group">
        <label for="hp"><b>Password *: </b></label>
        <input type="password" class="form-control" name="hp" placeholder="Password">
        <small>Perlu diisi jika mengganti informasi</small>
      </div>
      <div class="container" style="padding-left: 0rem; padding-top: 1rem;">
        <p><b>Lupa Password? Tekan <a href="#">Disini</a></b></p>
        <hr>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>

    