<div class="ctm-margin">
    <p class="h1">Email Terkirim</p>
    <p class="ctm-font mt-1 mb-4">Silakan periksa email Anda dan klik tautan untuk mengatur ulang kata sandi Anda</p>
    <img src="../img/Vector2.svg" alt="" class="mx-auto d-block vec-size" />

    <div class="row mb-2 mt-4">
        <div class="col">
            <a href="/login"><button type="submit" class="btn btn-primary btn-block">Masuk</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center paragraph">Belum mendapatkan email? <a href="/LupaPass" style="font-weight: bold">Kirim Ulang</a></p>
        </div>
    </div>
</div>
