<div class="ctm-margin">
    <p class="h1">Selamat Datang Kembali!</p>
    <p class="ctm-font">Silahkan masukkan email dan kata sandi untuk masuk</p>

    <form action="" method="post">
        <div class="form-group mb-4 mt-5">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Masukkan Email" name="email" />
            <span class="email"><i class="fa fa-envelope"></i></span>
        </div>
        <div class="form-group mb-3">
            <input type="password" class="form-control" id="password" placeholder="Masukkan Kata Sandi" name="password" />
            <span class="lock"><i class="fa fa-lock"></i></span>
            <span class="eye"><i class="fa fa-eye" aria-hidden="true" id="eye" onclick="toggle()"></i></span>
        </div>
        <div class="row mb-5">
            <div class="col">
                <div class="icheck-primary">
                    <input type="checkbox" id="remember" />
                    <label for="remember"> Ingat Saya </label>
                </div>
            </div>
            <div class="col text-right">
                <a href="forgot-password.html">Lupa kata sandi?</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">Masuk</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center paragraph">Belum punya akun? <a href="" style="font-weight: bold"> Daftar disini</a></p>
            </div>
        </div>
    </form>
</div>
