<div class="ctm-margin">
    <p class="h1">Verifikasi</p>
    <p class="ctm-font mb-4">Kami telah mengirimkan email verifikasi untuk mendaftarkan akun Anda Silakan periksa email Anda dan klik tautan untuk melanjutkan</p>
    <img src="../img/Vector2.svg" alt="" class="mx-auto d-block vec-size" />

    <div class="row mb-2 mt-4">
        <div class="col">
            <a href="/login"><button type="submit" class="btn btn-primary btn-block">Kembali ke halaman login</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center paragraph">Belum mendapatkan email? <a href="/ResendVerif" style="font-weight: bold">Kirim Ulang</a></p>
        </div>
    </div>
</div>
