<div class="ctm-margin">
    <p class="h1">Kata Sandi Berhasil Diubah</p>
    <p class="ctm-font mt-1 mb-4">Silahkan login kembali untuk masuk kedalam dashboard</p>
    <img src="../img/Vector4.svg" alt="" class="mx-auto d-block vec-size" />

    <div class="row mb-2 mt-4">
        <div class="col">
            <a href="/login"><button type="submit" class="btn btn-primary btn-block">Kembali ke halaman login</button></a>
        </div>
    </div>
</div>
