<div class="ctm-margin-4">
    <p class="h1">Verifikasi Berhasil</p>
    <p class="ctm-font mt-2 mb-4">Silahkan login kembali untuk masuk kedalam dashboard</p>
    <img src="../img/Vector4.svg" alt="" class="mt-5 mx-auto d-block vec-size" />

    <div class="row mb-2 mt-4">
        <div class="col">
            <a href="/login"><button type="submit" class="btn btn-primary btn-block">Selanjutnya</button></a>
        </div>
    </div>
</div>
