<div class="ctm-margin-2">
  <p class="h1">Selamat Datang</p>
  <p class="ctm-font">Silahkan isi data-data berikut untuk mendaftar</p>

  <form action="/register" method="POST">
    <div class="form-group mb-4 mt-5">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" />
      <span class="email"><i class="fa fa-envelope"></i></span>
    </div>
    <div class="form-group mb-4">
      <input type="text" class="form-control" placeholder="Nama Lengkap" name="namaLengkap" />
      <span class="name"><i class="fa fa-user"></i></span>
    </div>
    <div class="form-group mb-4">
      <input type="text" class="form-control" placeholder="No. Telepon" name="noHp" />
      <span class="phone"><i class="fa fa-phone"></i></span>
    </div>
    <div class="form-group mb-4">
      <input type="password" class="form-control" id="password" placeholder="Kata Sandi" name="password" />
      <span class="lock"><i class="fa fa-lock"></i></span>
      <span class="eye"><i class="fa fa-eye" aria-hidden="true" id="eye" onclick="toggle()"></i></span>
    </div>
    <div class="form-group mb-5">
      <input type="password" class="form-control" id="password" placeholder="Konfirmasi Kata Sandi" name="repassword" />
      <span class="lock"><i class="fa fa-lock"></i></span>
      <span class="eye"><i class="fa fa-eye" aria-hidden="true" id="eye" onclick="toggle()"></i></span>
    </div>
    <% if (typeof error != 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        Data register tidak sesuai!
      </div>
    
    <% } else if (typeof success != 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        Email sudah terdaftar!
      </div>

    <% } else if (typeof password != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          Password tidak sama!
        </div>
    <% } else if (typeof verif != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          Email verifikasi sudah pernah dikirim, cek email anda!
        </div>
    <% } else if (typeof err != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          Terdapat kesalahan dalam melakukan register, coba lagi nanti!
        </div>
    <% } %>
    <div class="row mb-3">
      <div class="col">
        <button type="submit" class="btn btn-primary btn-block">Daftar</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center paragraph">Sudah memiliki akun? <a href="/login" style="font-weight: bold"> Login disini</a></p>
      </div>
    </div>
  </form>
</div>
