<div class="ctm-margin-3">
  <p class="h1" style="margin-top: 165px">Lupa Kata Sandi?</p>
  <p class="ctm-font mt-1 mb-3">Masukkan email yang terdaftar dengan akun Anda dan kami akan mengirim email dengan instruksi untuk mengatur ulang kata sandi Anda</p>
  <img src="../img/Vector2.svg" alt="" class="mx-auto d-block vec-size" />
  <form action="/forget-password" method="post">
    <div class="form-group mt-3 mb-5">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Masukkan Email" name="email" />
      <span class="email-lp"><i class="fa fa-envelope"></i></span>
    </div>
    <% if (typeof err != 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <%= err %> 
      </div>
    <% } %>
    <div class="row mb-1">
      <div class="col">
        <button type="submit" class="btn btn-primary btn-block">Kirim Instruksi</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <p class="text-center paragraph">Ingat kata sandi?<a href="/login" style="font-weight: bold">Login disini</a></p>
    </div>
  </div>
</div>
