<div class="col-lg-12 mt-4" style="width: 100vh">
    <div class="bd-highlight align-items-center">
        <img src="/img/no event.png" class="img-noEvent" alt="Responsive image" />
        <p class="ctm-font-head pt-3">Kamu belum mendaftar ke event manapun</p>
    </div>
</div>
