<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid bg-image bg-info pt-5 pb-5 mt-5">
    <div class="container mb-5 pb-2 mt-5">
        <h1 class="head-font text-white">Hi, Muhammad zydane</h1>
        <p class="p-font text-white">Selamat datang di Sistem Informasi Event Management ORMAWA dan Mahasiswa</p>
        <p class="p-font mb-4 text-white">UPN Veteran Jakarta. Ikuti event-event menarik yang dapat mengembangkan skillmu.</p>
        <a class="btn btn-success btn-custom" href="#" role="button">Pengenalan Aplikasi</a>
    </div>
</div>

<!-- search button -->
<div class="container">
    <div class="row box mt-custom text-center">
        <form action="">
            <input type="text" placeholder="Cari event yang ingin kamu ikuti..." />
            <select name="" id="list" class="">
                <option selected>Kategori</option>
                <option value="">Webinar</option>
                <option value="">Workshop</option>
                <option value="">Lomba</option>
                <option value="">Lainnya</option>
            </select>
            <input type="submit" value="Cari" />
        </form>
    </div>
</div>

<!-- Event Terbaru -->
<div class="container mb-5 pb-5">
    <div class="row">
        <div class="col mb-3">
            <p class="sub-font mb-1 mt-5">Hasil Pencarian</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm mb-5">
            <div class="card-custom my-shadow-2">
                <div class="card-body-custom">
                    <p class="card-font h5 text-white mb-4">Lomba Tabligh Akbar Uswah 2021</p>
                    <div class="row pt-2 d-flex align-items-lg-baseline">
                        <div class="col">
                            <p class="date text-white">29 Sept - 29 Okt</p>
                        </div>
                        <div class="col-5 text-center">
                            <a type="button" class="btn-custom-2" id="detail">Lihat Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mb-5">
            <div class="card-custom my-shadow-2">
                <div class="card-body-custom">
                    <p class="card-font h5 text-white mb-4">Lomba Tabligh Akbar Uswah 2021</p>
                    <div class="row pt-2 d-flex align-items-lg-baseline">
                        <div class="col">
                            <p class="date text-white">29 Sept - 29 Okt</p>
                        </div>
                        <div class="col-5 text-center">
                            <a type="button" class="btn-custom-2" id="detail2">Lihat Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card-custom my-shadow-2">
                <div class="card-body-custom">
                    <p class="card-font h5 text-white mb-4">Lomba Tabligh Akbar Uswah 2021</p>
                    <div class="row pt-2 d-flex align-items-lg-baseline">
                        <div class="col">
                            <p class="date text-white">29 Sept - 29 Okt</p>
                        </div>
                        <div class="col-5 text-center">
                            <a type="button" class="btn-custom-2" id="detail3">Lihat Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
