<div class="container padding-profile rounded" style="background-color: white; padding: 30px; margin-top: 50px; margin-bottom: 40px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
  <h5>Nama:</h5>
  <p>Bagas</p>
  <h5>NIM:</h5>
  <p>1910511120</p>
  <h5>No. HP:</h5>
  <p>081228119616</p>
  <h5>Fakultas:</h5>
  <p>Ilmu Komputer</p>
  <h5>Prodi:</h5>
  <p>Informatika</p>
  <h5>Angkatan:</h5>
  <p>2019</p>
  <h5>Jenis-Kelamin:</h5>
  <p>Laki-Laki</p>
  <h5>Tanggal Lahir:</h5>
  <p>29 Februari 2000</p>
</div>