<div class="jumbotron jumbotron-fluid shadow">
  <div class="container backgroundphoto"></div>
  <div class="container user">
    <img src="img/profil 1.png" class="rounded nav-pict photoprofile" alt="photo profil" />
    <h1 class="display-4 nama">Mohamad Zydane Ulir Rizqi Toyyibi</h1>
    <p class="lead deskripsi">mohamadzydane@upnvj.ac.id</p>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white nav-font pt-3 pb-3 navprofile">
    <div class="container container-tombolprofile">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-pengaturan">
        <li class="nav-item pe-3">
          <a class="nav-link active fw-bold nav__link" aria-current="page" href="#">Profile Pribadi</a>
        </li>
        <li class="nav-item pe-3">
          <a class="nav-link" href="#">Pengaturan Akun</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center btnEditprofile">
          <div class="button editprofile">
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-off" aria-hidden="true"><img src="./icons/pencil (2) 1.svg" alt="" /></span>
              <span class="text-profile text-white" id="edit">Edit Profile</span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>