<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="/img/logo.png" alt="SIM-U" class="brand-image" />
        <span class="brand-text font-weight-normal">SIM-U</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <!-- <h4 class="brand-text text-light">Selamat Datang!</h4> -->

        <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="img/LOGO BEMU.png" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
                <a href="#" class="d-block">BEM UPNVJ</a>
            </div>
        </div> -->

        <!-- SidebarSearch Form -->
        <div class="form-inline mt-3">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" />
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

                <li class="nav-header">MENU</li>
                <li class="nav-item">
                    <a href="/dashboard-ormawa" class="nav-link nav__link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/event-ormawa" class="nav-link nav__link">
                        <i class="nav-icon fa fa-calendar"></i>
                        <p>Event Saya</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link nav__link">
                        <i class="nav-icon fa fa-cog"></i>
                        <p>Pengaturan Akun</p>
                    </a>
                </li>
                <li class="nav-item">
                    <form action="/logout?_method=DELETE" method="POST">
                        <a class="nav-link">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <button type="submit" class="form-submit-button">Log out</button>
                        </a>
                    </form>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
