<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Lomba Tabligh Akbar Uswah 2021</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Detail Event</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header border-0">
          <h2 class="card-title">Data Pendaftar</h2>
          <div class="card-tools">
            <a href="#" class="btn btn-tool btn-sm">
              <i class="fas fa-download"></i>
            </a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table id="example" class="table table-striped projects table-bordered display" style="width: 100%">
            <thead>
              <tr>
                <th>No</th>
                <th>Tanggal Daftar</th>
                <th>Nama</th>
                <th>NIM</th>
                <th>No. HP</th>
                <th>Fakultas</th>
                <th>Jurusan</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>12-11-2021</td>
                <td>
                  <a> Bagas Prabaswara Wira Notokusumo </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>2</td>
                <td>12-11-2021</td>
                <td>
                  <a> Muhammad Zydane </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>3</td>
                <td>12-11-2021</td>
                <td>
                  <a> Adika Rajendra Haris </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>4</td>
                <td>12-11-2021</td>
                <td>
                  <a> I Putu Eka Suartana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>5</td>
                <td>12-11-2021</td>
                <td>
                  <a> Yusuf Maulana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>6</td>
                <td>12-11-2021</td>
                <td>
                  <a> Bagas Prabaswara Wira Notokusumo </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>7</td>
                <td>12-11-2021</td>
                <td>
                  <a> Muhammad Zydane </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>8</td>
                <td>12-11-2021</td>
                <td>
                  <a> Adika Rajendra Haris </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>9</td>
                <td>12-11-2021</td>
                <td>
                  <a> I Putu Eka Suartana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>10</td>
                <td>12-11-2021</td>
                <td>
                  <a> Yusuf Maulana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>11</td>
                <td>12-11-2021</td>
                <td>
                  <a> Bagas Prabaswara Wira Notokusumo </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>12</td>
                <td>12-11-2021</td>
                <td>
                  <a> Muhammad Zydane </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>13</td>
                <td>12-11-2021</td>
                <td>
                  <a> Adika Rajendra Haris </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>14</td>
                <td>12-11-2021</td>
                <td>
                  <a> I Putu Eka Suartana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>15</td>
                <td>12-11-2021</td>
                <td>
                  <a> Yusuf Maulana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>16</td>
                <td>12-11-2021</td>
                <td>
                  <a> Bagas Prabaswara Wira Notokusumo </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>17</td>
                <td>12-11-2021</td>
                <td>
                  <a> Muhammad Zydane </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>18</td>
                <td>12-11-2021</td>
                <td>
                  <a> Adika Rajendra Haris </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>19</td>
                <td>12-11-2021</td>
                <td>
                  <a> I Putu Eka Suartana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>20</td>
                <td>12-11-2021</td>
                <td>
                  <a> Yusuf Maulana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>21</td>
                <td>12-11-2021</td>
                <td>
                  <a> Bagas Prabaswara Wira Notokusumo </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>22</td>
                <td>12-11-2021</td>
                <td>
                  <a> Muhammad Zydane </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>23</td>
                <td>12-11-2021</td>
                <td>
                  <a> Adika Rajendra Haris </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>24</td>
                <td>12-11-2021</td>
                <td>
                  <a> I Putu Eka Suartana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>25</td>
                <td>12-11-2021</td>
                <td>
                  <a> Yusuf Maulana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>26</td>
                <td>12-11-2021</td>
                <td>
                  <a> Bagas Prabaswara Wira Notokusumo </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>27</td>
                <td>12-11-2021</td>
                <td>
                  <a> Muhammad Zydane </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>28</td>
                <td>12-11-2021</td>
                <td>
                  <a> Adika Rajendra Haris </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>29</td>
                <td>12-11-2021</td>
                <td>
                  <a> I Putu Eka Suartana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
              <tr>
                <td>30</td>
                <td>12-11-2021</td>
                <td>
                  <a> Yusuf Maulana </a>
                  <br />
                  <!-- <small> Created 01.01.2019 </small> -->
                </td>
                <td>1910511124</td>
                <td>081234122355</td>
                <td>Ilmu Komputer</td>
                <td>S1 Informatika</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.2.0-rc</div>
  </footer>
</div>
