<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Event Saya</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Event Saya</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-custom btn-sm" href="#">
                        <i class="fa fa-calendar"> </i>
                        Buat Event Baru
                    </a>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 1%">No</th>
                                <th style="width: 15%">Nama Event</th>
                                <th style="width: 10%">Tanggal Event</th>
                                <th style="width: 25%">Deskripsi Event</th>
                                <th style="width: 20%">Jumlah Pendaftar</th>
                                <th style="width: 8%" class="text-center">Status</th>
                                <th style="width: 25%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <a> Lomba Tabligh Akbar Uswah 2021 </a>
                                    <br />
                                    <!-- <small> Created 01.01.2019 </small> -->
                                </td>
                                <td>11-7-2014</td>
                                <td>[ • LOMBA ISLAMI GRATIS •]⁣ 📣 Assalamu'alaikum Ikhwah Fillah</td>
                                <td class="project_progress">
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                    </div>
                                    <small> 120/100 Peserta </small>
                                </td>
                                <td class="project-state">
                                    <span class="badge badge-success">Event Selesai</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder"> </i>
                                        Details
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt"> </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="#">
                                        <i class="fas fa-trash"> </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <a> AdminLTE v3 </a>
                                    <br />
                                    <small> Created 01.01.2019 </small>
                                </td>
                                <td>11-7-2014</td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, nam....</td>

                                <td class="project_progress">
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100" style="width: 7%"></div>
                                    </div>
                                    <small> 20/500 Peserta </small>
                                </td>
                                <td class="project-state">
                                    <span class="badge bg-warning text-dark">Dalam Proses</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder"> </i>
                                        Details
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt"> </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="#">
                                        <i class="fas fa-trash"> </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <a> AdminLTE v3 </a>
                                    <br />
                                    <small> Created 01.01.2019 </small>
                                </td>
                                <td>11-7-2014</td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, nam....</td>

                                <td class="project_progress">
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                    </div>
                                    <small> 0/300 Peserta </small>
                                </td>
                                <td class="project-state">
                                    <span class="badge bg-danger">Belum Publish</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder"> </i>
                                        Details
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt"> </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="#">
                                        <i class="fas fa-trash"> </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.2.0-rc</div>
    </footer>
</div>
