<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 bg-custom">
      <img src="img/logo5.svg" class="img-fluid mt-5 ms-4" alt="Responsive image" />
      <img src="img/vector1.svg" class="img-fluid mt-5 ms-4" alt="Responsive image" />
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
