<!-- jQuery -->
<script src="/plugin/js/jquery.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/plugin/js/jquery-ui.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge("uibutton", $.ui.button);
</script>
<!-- Bootstrap 4 -->
<script src="/plugin/js/bootstrap.bundle.js"></script>
<!-- overlayScrollbars -->
<script src="/plugin/js/jquery.overlayscroll.js"></script>
<!-- adminLTE -->
<script src="/dist/js/adminlte.js"></script>

<!-- optional -->

<!-- chart -->
<script src="/plugin/chart.js/chart.js"></script>

<!-- AdminLTE App -->

<!-- ds 3 App -->
<script src="/dist/js/dashboard3.js"></script>

<!-- flot chart -->
<script src="/plugin/chart.js/jquery.flot.js"></script>

<!-- flot rezise plugin chart -->
<script src="/plugin/chart.js/jquery.flot.resize.js"></script>

<!-- donut chart -->
<script src="/plugin/chart.js/jquery.flot.pie.js"></script>

<!-- daterangepicker -->
<script src="/plugin/moment/moment.js"></script>
<script src="/plugin/daterangepicker/daterangepicker.js"></script>

<!-- page spesifik -->
<!-- <script src="plugin/tables/jqDataTables.js"></script>
<script src="plugin/tables/bsDataTables.js"></script>
<script src="plugin/tables/responsiveDataTables.js"></script>
<script src="plugin/tables/responsivebs.js"></script>
<script src="plugin/tables/dataTables.button.js"></script>
<script src="plugin/tables/buttonbs.js"></script>
<script src="plugin/tables/spesifikpage.js"></script> -->

<!-- script table detail -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<!-- initializing table detail -->
<script>
    $(document).ready(function () {
        $("#example").DataTable();
    });
</script>
<!-- toastr -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script src="/js/toastr.js"></script>
<script src="/js/setToast.js"></script>
<!-- js kita -->
<script src="/js/changephoto.js"></script>

<!-- active menu -->
<!-- <script src="plugin/js/menuActive.js"></script> -->

<!-- chart -->
<script src="/plugin/chart.js/chart.js"></script>

<!-- AdminLTE App -->

<!-- flot chart -->
<script src="/plugin/chart.js/jquery.flot.js"></script>

<!-- flot rezise plugin chart -->
<script src="/plugin/chart.js/jquery.flot.resize.js"></script>

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<!-- donut chart -->
<script src="/plugin/chart.js/jquery.flot.pie.js"></script>
<% if (typeof jmlWebinar !== 'undefined') { %>
<script>
        $(function () {
      /*
       * DONUT CHART
       * -----------
       */

      var donutData = [
          {
              label: "Webinar",
              data: <%= jmlWebinar %>,
              color: "#E74C3C",
          },
          {
              label: "Workshop",
              data: <%= jmlWorkshop %>,
              color: "#3498DB",
          },
          {
              label: "Lomba",
              data: <%= jmlLomba %>,
              color: "#2ECC71",
          },
          {
              label: "Lainnya",
              data: <%= jmlLainnya %>,
              color: "#F39C12",
          },
      ];
      $.plot("#donut-chart", donutData, {
          series: {
              pie: {
                  show: true,
                  radius: 1,
                  innerRadius: 0.5,
                  label: {
                      show: true,
                      radius: 2 / 3,
                      formatter: labelFormatter,
                      threshold: 0.1,
                  },
              },
          },
          legend: {
              show: false,
          },
      });
      /*
       * END DONUT CHART
       */
    });

    /*
    * Custom Label formatter
    * ----------------------
    */
    function labelFormatter(label, series) {
      return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">' + label + "<br>" + Math.round(series.percent) + "%</div>";
    }
</script>
<% } %>

<!-- active menu -->
<script src="/plugin/js/menuActive.js"></script>

<script>
    $(document).ready(function () {
        $("#example").DataTable();
    });
</script>
