<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="position: fixed">
    <!-- Brand Logo -->
    <a href="/dashboard-admin" class="brand-link">
        <img src="/img/logo.png" alt="SIM-U" class="brand-image" />
        <span class="brand-text font-weight-normal">SIM-U</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-header">MENU</li>
                <li class="nav-item">
                    <a href="/dashboard-admin" class="nav-link nav__link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/lp-management" class="nav-link nav__link">
                        <i class="nav-icon fas fa-globe"></i>
                        <p>Landing Page</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/event-admin" class="nav-link nav__link">
                        <i class="nav-icon fa fa-calendar"></i>
                        <p>Event Management</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/pengguna-mahasiswa" class="nav-link nav__link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Pengguna Mahasiswa</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/pengguna-Ormawa" class="nav-link nav__link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Pengguna Ormawa</p>
                    </a>
                </li>

                <li class="nav-item">
                    <form action="/logout-admin?_method=DELETE" method="POST">
                        <a class="nav-link">
                            <i class="nav-icon fas fa-sign-out-alt form-submit-button"></i>
                            <button type="submit" class="form-submit-button">Log out</button>
                        </a>
                    </form>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
